html{
  background-color: #84b496;
}

body{
  font-family:poppins;
}

report{
  margin-left: 45px;
  margin-right: 45px;
  font-size: 70px;
  font-family:poppins;
}


h1, h2 {
  margin-left: 45px;
}

.about {
  font-family:poppins;
  padding: 50px 0 100px 0;
}

.header, .subtitle {
  font-family:poppins;
  text-align: center;
  margin: 0 auto;
}

.header {
  padding: 50px 0 10px 0;
}

.subtitle {
  padding: 10px;
}

.bio {
  font-family:poppins;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.name {
  padding: 10px 50px 0 0;
}

.blurb {
  padding: 10px 200px 10px 200px;
  margin: 50px;
  text-align: center;
}

.boxed {
  border: 1px solid green ;
  margin-left: 45px;
  margin-right: 700px;
  margin-bottom: 50px;
}

report{
  font-size: 15px;
}

/*home page*/
.navbar img {
  width: 50px;
  height: 50px;
}

header{
  width:100%;
  margin:25px auto;
  background:#84b496;
  padding:20px;
  text-align: center;
  font-family:poppins;
}

header h1{
  font-size:3.5em;
  font-weight: 1000;
  color:#fff;
}
header p{
  font-weight:200;
  font-style: italic;
}

aside {
  position:relative;
  width:70%;
  border:2px solid #fff;
  border-radius: 10px;
  left:15%;
  font-family:poppins;
  text-align:center;
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 4px 12px 0 rgba( 255, 255, 255, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
}

.home-content {
  padding:10px;
  border-bottom:2px solid #fff;
}

.home-content:last-child {
  border-bottom:none;
}

.home-drawing{
  margin-top:25px;
  margin-left:35%;
  width:30%;
  height:auto;
  z-index:-9;
}

.entergoals{
  margin-top: 5%;
  margin-bottom: 5%;
}

.btitle{
  text-align: center;
  margin-top: 3%;
  font-size: 50px;
  color: white;
}

.piechart{
  size: 30px;
  text-align: center;
}

.invisible {
  display: none;
}

.aboutus{
  color: white;
}

.pointheader{
  padding-top: 3%;
  text-align: center;
  color: white;
  font-family: poppins;
  font-size: 60px;
}

.achi{
  color:#34623f;
  padding-top: 3%;
  font-family: poppins;
}

.achitable {
  font-size: 20px;
  margin-left: 5%;
  border-spacing: 10px;
}
